cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.2.0
numba==0.48.0
numpy==1.18.1
pip==20.0.2
progressbar2==3.50.0
pyparsing==2.4.6
python-dateutil==2.8.1
python-utils==2.3.0
setuptools==46.0.0
six==1.14.0