cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.1
numba==0.50.1
numpy==1.19.1
pip==20.2.2
progressbar2==3.52.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-utils==2.4.0
setuptools==49.6.0
six==1.15.0